.show-filter-btn,
.dropdown-menu li *:hover {
  background-color: var(--tertiary-color);
}

.show-filter-btn:hover,
.product-filter-dropdown:hover {
  background-color: var(--secondary-color);
}

@media (min-width: 768px) {
  .filter-prices {
    width: 75%;
  }
}
