.similar-products-loader {
  z-index: 1000;
}

.similar-products-cursor {
  cursor: pointer;
  min-height: 440px;
}

.similar-products-img {
  height: 200px;
}

.similar-products-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #b39b14 #f1f1f1;
}

.similar-products .swiper-pagination {
  margin-top: 30px;
  position: relative;
}
