.admin-order-product-img {
  max-height: 100px;
  object-fit: cover;
  width: 100%;
}

.status-en-preparation {
  background-color: #f0f1f6;
  color: #555a7b;
  border-color: #a1a8c6;
}

.status-expediee {
  background-color: #e6f4f1;
  color: #3a7d74;
  border-color: #70b4a1;
}

.status-livree {
  background-color: #f7faf6;
  color: #5a6a56;
  border-color: #a4b39e;
}

.status-annulee {
  background-color: #fbeaea;
  color: #a45a5a;
  border-color: #d1a3a3;
}
