.admin-order-product-img {
  max-height: 100px;
  object-fit: cover;
  width: 100%;
}

.status-en-preparation {
  color: #555a7b;
  border-color: #a1a8c6;
}

.status-expediee {
  background-color: #bdb9941e;
  color: #c4780d;
  border-color: #c4780d;
}

.status-livree {
  background-color: #f7faf653;
  color: #385f2e;
  border-color: #385f2e;
}

.status-annulee {
  background-color: #fbeaea3a;
  color: #7d2d2d;
  border-color: #7d2d2d;
}

.order-products-scroll {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
