.admin-title {
  background-color: var(--tertiary-color);
  font-size: var(--font-size-h1);
  height: 100px;
  padding: 10px 0px 0px 10px;
  margin-bottom: 20px;
}

.admin-modify-product {
  background-color: var(--primary-color);
  color: var(--font-secondary-color);
}
