.header-logo {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo img {
  height: 100%;
  width: auto;
}

.header-person-modal {
  z-index: 1000;
  min-width: 290px;
}

.header-person-circle {
  background: var(--linear-gradient);
  width: 40px;
  height: 40px;
}

.header-new-order {
  width: 20px;
  height: 20px;
}

.header-items-hover:hover {
  background-color: #c1c1c134;
}

.show-under-840 {
  display: none !important;
}

.nowrap {
  white-space: nowrap;
}

button.position-relative:hover .hover-label {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-50%) translateY(-4px);
}

.header-initials-circle {
  width: 30px;
  height: 30px;
  font-size: 0.75rem;
  background: var(--linear-gradient);
  border-radius: 50%;
}

.header-icon-mobile-height {
  width: 45px;
  height: 45px;
}

@media (max-width: 768px) {
  .icon-wrapper {
    color: #ffffff;
    transition: color 0.3s ease;
  }
}

@media (max-width: 840px) {
  .show-under-840 {
    display: flex !important;
  }

  .show-more-840 {
    display: none !important;
  }
}
