.header-person-modal {
  z-index: 1000;
  min-width: 280px;
}

.header-person-circle {
  width: 40px;
  height: 40px;
}

.header-new-order {
  width: 25px;
  height: 25px;
}

@media (max-width: 576px) {
  .header-person-modal {
    min-width: 100px;
  }
  .header-person-modal span {
    display: none;
  }
}
