.header-logo {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo img {
  height: 100%;
  width: auto;
}

.header-person-modal {
  z-index: 1000;
  min-width: 300px;
}

.header-person-circle {
  background: var(--linear-gradient);
  width: 40px;
  height: 40px;
}

.header-new-order {
  width: 20px;
  height: 20px;
}

.header-items-hover:hover {
  background-color: #c1c1c134;
}

@media (max-width: 1024px) {
  .header-person-modal {
    min-width: 100px;
  }
  .header-person-modal span {
    display: none;
  }
}
