.category-modern-section {
  background: var(--linear-gradient);
  box-shadow: rgb(98, 98, 98) 0px 10px 30px 0px;
}

.category-modern-card {
  min-height: 180px;
  cursor: pointer;
}

.category-modern-icon {
  background-color: #f1f3f5;
}
