.cards-title {
  background-color: var(--tertiary-color);
  font-size: var(--font-size-h1);
  height: 100px;
  padding: 10px 0px 0px 10px;
  margin-bottom: 20px;
}

.product-filter-li {
  transition: background-color 0.3s ease;
  list-style: none;
  background-color: var(--tertiary-color);
  cursor: pointer;
}

.product-filter-li:hover {
  background-color: var(--secondary-color);
  transform: scale(1.05);
  border-radius: 4px;
  padding: 0.2em;
}

.cards-pagination-btn {
  padding: 5px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 15px 4px 0 4px;
  cursor: pointer;
  color: var(--primary-color);
  transition: all 0.2s ease;
}

.cards-pagination-btn:hover {
  background-color: var(--primary-color);
  color: var(--btn-cta-secondary-color);
  border-color: var(--primary-color);
}

.cards-pagination-btn-active {
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
  color: #1e1e1e;
}

.rc-pagination-item,
.rc-pagination-item-active,
.rc-pagination-item:focus,
.rc-pagination-item:hover {
  border-color: transparent;
  box-shadow: none;
  margin: 0;
}

@media (min-width: 768px) {
  .product-filter-searchbar {
    margin-left: 3em;
    max-width: 75%;
  }
}
