.card {
  background-color: var(--tertiary-color);
}

.cards {
  color: var(--primary-color);
  padding-right: 12px;
}

.card-body {
  height: 130px;
}

.card-body .card-title {
  font-size: 1.1em;
}

.card-body .card-price {
  font-size: 1.2em;
}

.cards .cards-card {
  background-color: var(--tertiary-color);
  width: 24rem;
  max-width: 100%;
}

.cards .cards-card .card-card-img {
  height: 70vh;
}

.cards .cards-card .cards-card-footer {
  font-size: var(--font-size-paragraph);
  background-color: black;
}

.cards .cards-card .cards-card-price-icons {
  font-size: var(--font-size-paragraph);
  padding: 15px 0px 15px 0px;
}

.product-card-icon {
  transition: transform 0.2s ease;
}

.heart {
  margin-bottom: 0.1em;
}

.product-card-icon:hover {
  transform: scale(1.2);
}

@media (min-width: 768px) {
  .card-body .card-title {
    font-size: 1.8em;
  }
  .card-body .card-price {
    font-size: 1.5em;
  }
}
